@media screen and (max-width: 768px) {
body {
background-color: #fff;
}
div#contenedor{
width: 100%;
margin: 0;
}
header#arriba {
background-color: #000;
color: #fff;
}
section#contenido {
float: none;
width: auto;
}
aside#sidebar {
float: none;
width: auto;
margin: 0 0 10px 0;
}
aside#sidebar img {
display: none;
}
article h1 {
font-size: 1.5em;
}
}
