body {
  margin: 0;
  padding: 0;
  background: #F2F5FE url("../imagenes/fondo.gif") 0 0 repeat-x;
  font: 12px, "verdana", sans-serif;
  color: #192666;
}

a {
  color:#192666;
}
a:hover {
  color:#4F6AD7;
}

p {
  margin: 1em 0;
  padding: 0;
}

.clear {
  clear: both;
}

h1, h2, h3, h4, h5 {
  margin: 1em 0;
  padding:0;
}

h1 {
  font-size: 260%;
  font-family: "georgia", serif;
  font-weight: normal;
}

h2 {
  font-size:180%;
  font-family: "georgia", serif;
  font-weight:normal;
}

h3 {
  font-size:120%;
  font-weight:bold;
}

ul, ol {
  margin: 1em 0 1em 2em;
  padding:0;
}


/* ---- Layout ------------------------------------------------------------- */

#contenedor {
  width:770px;
  margin: 50px auto 0 auto;
}

#cabecera {
  width: 770px;
  position: relative;
  height: 100px;
  margin: 0;
  padding: 0;
  background: #233C9B url("../imagenes/cabecera.jpg") no-repeat;
  color: #FFF;
}

#contenido {
  width: 760px;
  margin: 0 5px;
  background: #FFF;
}

#contenido #principal {
  float: left;
  width: 530px;
  margin-top: 15px;
  padding:0 0 0 20px;
  background: #FFF;
}

#pie {
  clear: both;
  height: 60px;
  margin-bottom: 50px;
  background: url("../imagenes/fondo_pie.jpg") no-repeat;
  color: #6685CC;
  position: relative;
}


/* ---- Cabecera ----------------------------------------------------------- */
#cabecera #logo {
  position: absolute;
  top: 35px;
  left: 35px;
  margin: 0;
}

#cabecera #logo a {
  color: #FFF;
  display: block;
  line-height: 35px;
}

#cabecera #logo a:hover {
  color: #B5C4E3;
  text-decoration: underline;
}


#cabecera #svg {
  position: absolute;
  top: 25px;
  right: 25px;
}


/* ---- Men� --------------------------------------------------------------- */
#menu {
  background: #192666;
  margin: 0 5px;
  padding: 10px 0 0 0;
}

#menu ul {
  margin: 0 10px;
  padding: 0;
  list-style:none;
}

#menu ul li {
  margin: 0 5px 0 0;
  padding: 0;
  float:left;
  color: #ffffff;
}

#menu ul li a {
  display: block;
  position: relative;
  padding: 5px 15px;
  border: 0;
  background: #253575;
  color: #B5C4E3;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#menu ul li a:hover {
  background: #31479B;
}

#menu ul li.seleccionado a {
  background: #FFF;
  color: #FF9000;
}


/* ---- Pie ---------------------------------------------------------------- */
#pie p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 40px;
}

#contact {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.5em;
    justify-content: center;
    flex-direction: column;
}

/*---reponsive--*/
@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }

}
@media(max-width:480px){
.og-grid li {
  width: 49.5%;
  height: 199px;
  padding: 0px 8px;
  margin: 8px 0;
}
}
@media(max-width:320px){
.og-grid li {
  width: 49.31%;
  height: 128px;
  padding: 0px 4px;
}
}

/**---media print*/
@media print body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1em;
	color: #333333;
	margin-top: 2cm;
	margin-right: 2cm;
	margin-bottom: 1.5cm;
	margin-left: 2cm
        }
