body {
  text-align: center;
}

.general {
  width: 35%;
  margin: 5%;
  text-align: center;
  display: inline-block;
  border: 5px dashed black;
  box-sizing: border-box;
}

img {
  width: 100%;
  padding: 1px;
  border: 1px solid black;
}

#img2 {
  transform-origin: center;
  transform: rotate(110deg);
}

#img3 {
  transform-origin: center;
  transform: translate(10px, 50px);
}

#img4 {
  transform-origin: center;
  transform: scale(0.5);
}

#img5 {
  transform-origin: center;
  transform: skew(5deg, 20deg);
}
