#primer ul li:nth-child(2){
  background-color: yellow;
}

#primer{
  width:300px;
  border: 1px solid;
  text-align: left;
  padding-left: 100px;

}

#segon ul li:nth-child(2n+1){
  background-color: yellow;
}

#segon{
  width:300px;
  border: 1px solid;
  text-align: left;
  padding-left: 100px;

}

#tercer ul li:nth-child(3n+3){
  background-color: yellow;
}

#tercer{
  width:300px;
  border: 1px solid;
  text-align: left;
  padding-left: 100px;

}
