#primer h1 {
  width: 300px;
  padding: 5px;
  font-family: "Hobo";
  color: black;
  text-align: center;
}

#segon h1 {
  width: 300px;
  padding: 5px;
  font-family: "Hobo";
  color: black;
  text-align: center;
}

#tercer h1 {
  width: 300px;
  padding: 5px;
  font-family: "Hobo";
  color: black;
  text-align: center;
}

#quart h1 {
  width: 300px;
  padding: 5px;
  font-family: "Hobo";
  color: black;
  text-align: center;
}

#quint h1 {
  width: 300px;
  padding: 5px;
  font-family: "Hobo";
  color: black;
  text-align: center;
}

#sext h1 {
  width: 300px;
  padding: 5px;
  font-family: "Hobo";
  color: black;
  text-align: center;
}

#septim h1 {
  width: 300px;
  padding: 5px;
  font-family: "Hobo";
  color: black;
  text-align: center;
}

#octau h1 {
  width: 300px;
  padding: 5px;
  font-family: "Hobo";
  color: black;
  text-align: center;
}

html {
font-size: 12px;
}
body {
font-size: 12px;
}
